<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Ah crap...</title>
</head>
<body>
    <main class="error-wrapper">
        {{{ body }}}
        <img class="error-img" src="images/sad.svg" alt="sad face">
        <a href="/">Take Me Back!</a>
    </main>
    
</body>
</html>